<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Gestion Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
  <div layout:fragment="contentProductVue">
    <div class="container mt-5">
      <div class="card">
        <div class="card-header bg-primary  text-center h1 text-white">Liste of products</div>
        <div class="card-body">
          <form th:action="@{products}" method="get">
            <div class="form-group">
              <label>Mot Cle</label>
              <input type="text" name="keywork" th:value="${keywork}"/>
              <button class="btn btn-primary">Chercher</button>
            </div>
          </form>
          <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>Name</th>
<!--              <th>CATEGORIE</th>-->
              <th>Descrition</th>
              <th>Quantite</th>
              <th>Price</th>
              <th>Photo</th>
              <th class="text-right">Actions</th>
            </tr>
            <tr th:each="p: ${pageProducts}">
              <td class="border border-primary bg-primary text-center text-white" th:text="${p.id}"> </td>
              <td th:text="${p.name}"> </td>
<!--              <td th:text="${listCategories.cat}"></td>-->
              <td th:text="${p.description}"> </td>
              <td th:text="${p.quantite}"> </td>
              <td th:text="${p.price}"> </td>
              <td>
                 <img th:src="@{${p.photosImagePath}}" />
              </td>
              <td class="text-right">
                <a onclick="return confirm('Etes-vous sure de vouloir supprimer?')"
                     class="btn btn-danger" th:href="@{deleteProduct(id=${p.id},keywork=${keywork},page=${currentPage}, size=${size})}">Delete</a>
               <a th:href="@{editerArticle(id=${p.id})}" class="btn btn-success">Editer</a>
              </td>
            </tr>
          </table>
          <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
              <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                 th:href="@{products(page=${status.index}, keywork=${keywork})}"
                 th:text="${status.index}"></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</body>
</html>